@model IEnumerable<QuanLyTruongMauGiao.Models.THUCDONNGAY>
@using QuanLyTruongMauGiao.Models

@{
    ViewBag.Title = "DangKiBuaAn";
    Layout = "~/Views/Shared/LayoutPH.cshtml";
}

<h2>Đăng kí bữa ăn</h2>
<br />

@using (Html.BeginForm("dangkibuaan", "chucnangphuhuynh", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div class="form-control col-10" style="width:70%">
        <dl class="dl-horizontal">
            <table class="table">
                <tr>
                    <th>
                        Ngày
                    </th>
                    <th>
                        Bữa sáng
                    </th>
                    <th>
                        Bữa trưa
                    </th>
                    <th>
                        Bữa xế
                    </th>
                    <th>
                        Chọn
                    </th>
                </tr>

                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @item.Ngay.ToString("dd/MM/yyyy")
                        </td>
                        <td>
                            @item.BuaSang
                        </td>
                        <td>
                            @item.BuaTrua
                        </td>
                        <td>
                            @item.BuaXe
                        </td>
                        <td>
                            <input type="checkbox" value="choice" />
                        </td>
                    </tr>
                }
            </table>
        </dl>
    </div>
    <br />
    <div class="form-group row">
        <div class="col-sm-10 ml-sm-auto">
            <button class="btn btn-info" type="submit" style="margin:0 30px 0 50px">Đăng kí</button><button class="btn btn-info" style="background-color:grey" type="reset">Hủy</button>
        </div>
    </div>
}


