
@{
    ViewBag.Title = "Index2";
}

<h2><center>Chào mừng quý phụ huynh</center></h2>
<br />

<form action="" method="post">
    <center>
        <p><input type="button" value="Đăng kí bữa ăn" onclick="location.href = '@Url.Action("DangKiBuaAn","PhuHuynh")'" /></p>
        <p><input type="button" value="Xem đánh giá" onclick="location.href = '@Url.Action("XemDanhGia","PhuHuynh")'" /></p>
        <p><input type="button" value="Đóng học phí" onclick="location.href = '@Url.Action("DongHocPhi","PhuHuynh")'" /></p>
    </center>

</form>

