@model IEnumerable<QuanLyTruongMauGiao.Models.THUCDONNGAY>
@{
    ViewBag.Title = "DangKiTheoNgay";
}

<h2>Đăng kí theo tuần</h2>
<br />
@using (Html.BeginForm())
{
    <p>Chọn khoảng thời gian</p>
    <p>Ngày bắt đầu: @Html.TextBox("ngaybd")<br /></p>
    <p>Ngày kết thúc: @Html.TextBox("ngaykt")<br /></p>
    <p><input type="submit" value="Tìm kiếm" /></p>
}

