@model IEnumerable<QuanLyTruongMauGiao.Models.TRE>
@using PagedList.Mvc;
@using QuanLyTruongMauGiao.Models

@{
    ViewBag.Title = "DanhSachDanhGia";
    Layout = "~/Views/Shared/LayoutGV.cshtml";
    QLMauGiao db = new QLMauGiao();
    var account = Session["user"] as TAIKHOAN;
    var user = (from item in db.GIAOVIENs where item.TenTK == account.TenTK select item).FirstOrDefault();
    var MaLop = (from item in db.PHANCONGGIAOVIENs where item.MaGV == user.MaGV select item.MaLop).FirstOrDefault();
}

<h2>Danh sách trẻ</h2>
@using (Html.BeginForm())
{

    <table class="table">
        <tr>
            <th>STT</th>
            <th>Tên trẻ</th>
            <th>Tên phụ huynh</th>
            <th></th>
        </tr>
        @{
            int stt = 0;
        }
        @foreach (var item in Model)
        {
            if (item.LOP.MaLop == MaLop)
            {
                stt++;
                <tr>
                    <td>
                        @stt
                    </td>
                    <td>
                        @item.TenTre
                    </td>
                    <td>
                        @item.PHUHUYNH.TenPH
                    </td>
                    <td>
                        @Html.ActionLink("Đánh giá trẻ", "DanhGiaTre", new { id = item.MaTre })
                    </td>
                </tr>
            }
        }
    </table>
}