@model IEnumerable<QuanLyTruongMauGiao.Models.TRE>
@using PagedList.Mvc;
@using QuanLyTruongMauGiao.Models

@{
    ViewBag.Title = "DiemDanh";
    Layout = "~/Views/Shared/LayoutGV.cshtml";
    QLMauGiao db = new QLMauGiao();
    var account = Session["user"] as TAIKHOAN;
    var user = (from item in db.GIAOVIENs where item.TenTK == account.TenTK select item).FirstOrDefault();
    var MaLop = (from item in db.PHANCONGGIAOVIENs where item.MaGV == user.MaGV select item.MaLop).FirstOrDefault();
}

<h2>Điểm danh</h2>
<br />
@using (Html.BeginForm("diemdanh", "chucnanggiaovien", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div class="form-control col-10" style="width:100%" id="registerContainer">
        <div class="dl-horizontal" id="tblRegister">
            <table class="table">
                <thead>
                    <tr>
                        <th>
                            STT
                        </th>
                        <th>
                            Mã trẻ
                        </th>
                        <th>
                            Ngày
                        </th>
                        <th>
                            Tên trẻ
                        </th>
                        <th>
                            Tên phụ huynh
                        </th>
                        <th>
                            Điểm danh
                        </th>
                        <th></th>
                    </tr>
                </thead>
                @{
                    int stt = 0;
                }
                <tbody>
                    @foreach (var item in Model)
                    {

                        <table class="table">
                            <tr>
                                <th>
                                    STT
                                </th>
                                <th>
                                    Ngày
                                </th>
                                <th>
                                    Tên trẻ
                                </th>
                                <th>
                                    Tên phụ huynh
                                </th>
                                <th>
                                    Điểm danh
                                </th>
                                <th></th>
                            </tr>
                            @{
                                int stt = 0;
                            }
                            @foreach (var item in Model)
                            {
                                if (item.LOP.MaLop == MaLop)
                                {

                                    stt++;
                                    <tr>
                                        <td>
                                            @stt
                                        </td>
                                        <td>
                                            @item.MaTre
                                        </td>
                                        <td>
                                            @DateTime.Now.ToString("dd/MM/yyyy")
                                        </td>
                                        <td>
                                            @item.TenTre
                                        </td>
                                        <td>
                                            @item.PHUHUYNH.TenPH
                                        </td>
                                        <td>
                                            <input type="checkbox" value="" />
                                        </td>
                                    </tr>
                                }
                        </tbody>
                    </table>
                </div>
            </div>
            <br />
            <div class="form-group row">
                <div class="col-sm-10 ml-sm-auto">
                    <button class="btn btn-info" type="button" @*onclick="pressSubmitBtn(this)"*@ id="DangKi" style="margin:0 30px 0 150px">Lưu</button><button class="btn btn-info" style="background-color:grey" type="reset">Hủy</button>
                </div>
            </div>
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
            <script type="text/javascript">
                $(document).ready(function () {

                    $("#DangKi").click(function (e) {
                        e.preventDefault();
                        var index = 0;
                        var data = new Array();
                        $.each($("#tblRegister tbody tr"), function () {
                            var MaTre = $(this).find("td").eq(1).html();
                            var select = $(this).find("td").eq(5).is(":checked");

                            var dataOne = {};
                            dataOne.MaTre = MaTre;
                            dataOne.select = select;
                            data.push(dataOne);
                        });
                        $.ajax({
                            contentType: 'application/json; charset=utf-8',
                            dataType: 'json',
                            type: 'POST',
                            url: "/ChucNangGiaoVien/DiemDanh",
                            data: JSON.stringify(data),
                            success: function (result) {
                                alert(result);
                            },
                            error: function (data, errorThrown) {
                                alert('request failed :' + errorThrown);
                            }
                        });
                    });
                });
            </script>
        }